<!DOCTYPE html>

<html>
    <head>
        
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
        <link href="https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200;0,300;0,400;1,300;1,500&display=swap" rel="stylesheet">
        
    </head>
    <body>
       <section class="header">
        
        <nav>
            <a href="main_loggedin.html"><img src ="{{ logo }}"></a>
            <div class="nav-links">
                <ul>
                    <li class="active"><a href="">DAILY CHECK-IN</a></li>
                    <li><a href="myjounral.html">MY JOURNAL</a></li>
                    <li><a href="resources.html">RESOURCES</a></li>
                    <li><a href="main.html">LOGOUT</a></li>
                </ul>
            </div>
        </nav>
        <div class ="checkin_title">
            <h1>DAILY CHECK-IN</h1>
            <p>Hi, I am your online journal. Everyday come here and tell me one thing about your day.</p>
            <p>Good, bad, however you are feeling! I will keep track or your days so you can look back</p>
            <p>and see how your week went!</p>
        </div>
        <div class="daily"> 
            <input type="text_diff" placeholder="Tell me about your day!" name="firstname" required>
            <button type="enter" class="submitbtn"onclick="window.location.href='myjounral.html'"> Submit</button> 
        </div>
        <div class="checkin">
            <img src ="{{ journal }}">
        </div>
    </section>
    </body>
</html>